/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Underline';
    src: url('../assets/fonts/Montserrat_Underline/static/MontserratUnderline-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Underline';
    src: url('../assets/fonts/Montserrat_Underline/static/MontserratUnderline-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Variables */
:root {
    --background: #0A0A0A;
    --text-color: #E6E6E6;
    --subtitle-color: #828282;
    --box-line-color: #373636;
    --border-box: 1px solid var(--box-line-color);
}

/* Default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: 'Montserrat';
}

h2 {
    font-size: 2.75rem;
    margin-bottom: 5rem;
}

a:hover {
    box-shadow: 2px 2px 4px var(--box-line-color);
}

/* Responsive design */
@media(max-width: 768px){
    h2 {
        font-size: 2.5rem;
    }
}

@media(max-width: 768px){
    h2 {
        font-size: 1.875rem;
        margin-bottom: 3rem;
    }
}